[2019-02-21 03:55] mwilliammyers commented on #330
Ok, I added a `client.document::<MyType>().put_mapping()` (on a fresh index), and there is still a nested `doc` property.

[2019-02-21 05:31] KodrAus commented on #330
Oh my this is embarassing... I think the bug here is that the new bulk API is re-using a wrapper type from the document update API that's serializing the document you provide in a `"doc": {}` object.

[2019-02-22 04:44] KodrAus commented on #331
I think the problem here was the `bulk` request indexing documents incorrectly. I've opened a PR that should fix this, but the error message you're getting back is a bit unhelpful, so I'll see if we can improve that.

[2019-02-22 04:58] mwilliammyers commented on #331
Yeah, I was thinking about a way to improve logging and I saw there was an old issue about it...

[2019-02-22 05:00] mwilliammyers commented on #330
No problem! Yeah, now that I look at the code, that looks to be the problem.

[2019-02-22 06:43] #330 closed

[2019-02-22 07:09] mwilliammyers commented on #331
I am still having issues with this even after #333.

This does not work:
[code]

but this does:
[code]

[2019-02-22 07:19] KodrAus commented on #331
Hmm, are you targetting the `master` branch now rather than what's on crates.io?

[2019-02-22 07:29] mwilliammyers commented on #331
Yeah.

I think I figured it out - my graphql crate was swallowing the errors and (I think) creating those cryptic error messages... It is because I had an `id` field on my type but `_source` doesn't have an `id` field.

[2019-02-22 07:34] #331 closed

[2019-02-24 00:02] KodrAus commented on #331
Glad you figured it out! I've published a new prerelease on crates.io that includes the fix for this.

[2019-02-25 22:56] jatsrt opened #336 "OpenSSL requirement from reqwest"
0.21.0-pre.2

Reqwest has an optional feature to switch to "rustls-tls".  This allows much easier cross compilation.  Elastic uses reqwest, but just uses it as is, so it is pulling in hyper-tls, which requires openssl.

I do not beleive(though I could be wrong).  That this is something that can be externally changed in cargo.  So, the question is, is it possible to enable a passthrough feature tha

[2019-02-25 23:02] KodrAus commented on #336
Hi @jatsrt :wave:

If you add `reqwest` as a dependency in your Cargo.toml alongside `elastic` with the `rustls-tls` feature then it should all work, but I'd also be happy to add a `rustls-tls` feature to `elastic` that enabled the same feature in its own `reqwest` dependency.

[2019-02-25 23:07] jatsrt commented on #336
Tried that, as I already use reqwest for other purposes, didn't work.

`
[dependencies]
serde = "1.0"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
serde_derive = "1.0"
elastic = "0.21.0-pre.2"
elastic_derive = "0.21.0-pre.2"

reqwest = {version = "0.9", default_features = false, features=["rustls-tls"]}
`

[2019-02-25 23:08] jatsrt commented on #336
unless I need to match the version exactly with "~0.9"

[2019-02-25 23:14] jatsrt commented on #336
That's it, needs to be a precise match on the version.

[2019-02-25 23:21] jatsrt commented on #336
OK, no that did not do the trick

[code]

[2019-02-25 23:35] KodrAus commented on #336
Ah right, so `reqwest` uses a `default-tls` feature that we have to disable before it'll stop compiling `openssl`, in which case just adding a dependency on `reqwest` yourself won't be enough.

[2019-02-26 04:35] mwilliammyers opened #337 "Change default document type from `doc` to `_doc`"
Per [schedule for removal of mapping types](https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html#_schedule_for_removal_of_mapping_types), the preferred document type name is now `_doc`.  Should we change the default to `_doc`?

Would I have to change anything that you know of besides the declaration [here](https://github.com/elastic-rs/elastic/blob/f16a3720dba6a940

[2019-02-26 04:45] mwilliammyers commented on #232
Is this a possibility for 0.21.x? I am struggling to get a `String` to map to a `keyword` elastic type to be able to use the same struct as a [Juniper](https://github.com/graphql-rust/juniper) object and an `ElasticType` without using sub-fields...

[2019-02-26 04:50] mwilliammyers commented on #337
So all I did was change that one line and all of the tests are passing... If that is it, I can open a PR.

[2019-02-27 00:19] KodrAus commented on #337
@mwilliammyers I ended up with `doc` over `_doc` because Elasticsearch versions prior to `6.2` don't actually accept that leading `_`.

Hmm, I think we'll actually need to shift that `DEFAULT_TYPE` constant into the `elastic_types` crate and re-export it from there so that generated mappings can use it as well.

[2019-02-27 00:31] KodrAus commented on #337
I opened a PR to make that constant more useful, it was a bit of a missed opportunity to begin with to make sure we have one place where the default type name is defined.

If we only want to support Elasticsearch 6.2+ then I'm happy for us to use `_doc` instead of `doc`.

[2019-02-27 00:34] KodrAus commented on #232
I'd love to support this and basically deprecate most of the types defined in this crate. Some of them, like `Date`, would have to stay because the format you specify in your mapping affects how you serialize the type, but for most of the others it's a nuisance to have to deal with the newtype wrappers.

[2019-02-27 01:08] mwilliammyers commented on #337
Cool, thanks!

What are your thoughts on versions to support?

[2019-02-27 04:04] mwilliammyers opened #339 "Ability to return `_source` from an update bulk request"
Currently, I don't believe you can request to get the `_source` back using the `BulkRequestBuilder` API like [this](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html#bulk-update)?

It would be really helpful to expose that option...

I looked into implementing this - it seems like I would need to change things in `elastic/src/elastic/src/client/requests/bulk/*`. Is tha

[2019-03-04 03:35] mwilliammyers commented on #290
I am fairly new to Rust and the whole ecosystem, but it seems like there is [somewhat](https://github.com/rust-lang-nursery/failure/issues/209) of a [debate](https://github.com/rust-lang-nursery/failure/issues/287) about the future of `failure` especially considering that fixing `std::error::Error` has recently seen some new momentum (it looks like).

Should we just use the downcasting support tha

[2019-03-10 23:06] KodrAus commented on #337
I think maintaining support for the highest point-release of the Elasticsearch major version we support without breakage should do for the time being. If we need to make any breaking changes to support a point release then we can bundle that up into a new breaking version of this library.

[2019-03-10 23:54] KodrAus commented on #290
@mwilliammyers Yeh the state of the world is a little different now. `failure` is still a nice library for error management in applications (where you can easily `#derive(Fail)]`), but some of the holes in `std::error::Error` for libraries have been filled.

Sticking with `std::error::Error` for now seems ok. And thanks for working on improving the API errors!

[2019-03-11 00:56] #336 closed

[2019-03-11 01:52] mwilliammyers opened #342 "Mapping to a keyword type without a subfield"
This might be really easy but I can't figure it out.

The following:

[code]

maps to:
[code]

I want it to map to:
[code]

so that you don't have to specify `id.keyword` when searching...

What am I missing?

For good measure I have also tried:
[code]

[2019-03-11 16:46] mwilliammyers commented on #342
FYI this isn't just for newtypes. It also didn't work when I specified the mapping type using a field attribute. I saw on [this](https://github.com/elastic-rs/elastic/blob/4f841ab48799ed38032c88b37232a7247e5f32e4/src/types_derive_internals/src/elastic_type/mod.rs#L96) line that field attributes are supported, so maybe #232 is at least partially supported?

[2019-03-19 03:41] KodrAus commented on #290
We now use the new `error::Error` APIs for properly downcastable errors so I'll go ahead and close this one. We can open new issues for other deficiencies with the errors.

[2019-03-19 03:41] #290 closed

[2019-04-13 00:31] KodrAus commented on #332
This is an interesting idea 🤔 But would be a little tricky to pull off using `serde`'s serialization API, since we're not actually in control of the way document types are deserialized.

[2019-04-13 00:31] KodrAus commented on #342
Thanks for the report! This sure doesn't look right, I'll check it out :+1:

[2019-04-13 00:59] mwilliammyers commented on #342
Thanks! I took a look at it but I don't think I know the code well enough yet to figure out what is going on...

[2019-04-13 01:00] mwilliammyers commented on #332
I think it kind of deviates from ES so maybe we shouldn't?

[2019-04-13 01:02] mwilliammyers commented on #277
So what about [7.0](https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-7.0.0.html)? haha...

There doesn't seem to be that many [breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#breaking_70_mappings_changes) that we would have to worry about...

[2019-04-13 05:31] KodrAus commented on #342
Hi @mwilliammyers, I haven't been able to  reproduce this one just yet so I must be missing something... Could you possibly share some more details about where you're getting your json mapping from?

At least the following example:

[code]

produces:

[code]

which is what we'd expect.

[2019-04-18 00:04] bauto17 opened #346 "bulk insert operation wraps every document in 'doc'"
hi, I have an issue, I am trying to use bulk insert and my document's body is always wrapped by a Doc struct
![image](https://user-images.githubusercontent.com/8044785/56328000-81819600-6142-11e9-823c-4b1ce314ffe0.png)

According to the official documentation, bulk insert operation must not provide a 'doc' wrapper, I's only necessary for updating operations.
https://www.elastic.co/guide/en/elastic

[2019-04-18 01:53] KodrAus commented on #346
Hi @bauto17 :wave:

Could you share which version of the client you're using? I believe we [fixed this up recently](https://github.com/elastic-rs/elastic/commit/ad941241f781a13f35c336ddd2d495b87b6247a8), so you might just need to update to the current `0.21.0-pre.3` release.

[2019-04-18 19:06] bauto17 commented on #346
It's still in use in BulkRawOperation struct in this path src/elastic/src/client/requests/bulk/operation.rs

[2019-04-19 05:21] KodrAus commented on #346
Ah that's my bad! Thanks for the report @bauto17. I've created a PR to fix this up and will release it as `0.21.0-pre.4`.

[2019-04-19 08:19] #346 closed

[2019-05-12 05:05] wfxr opened #352 "ScrollRequest not work?"
Here is the very simple scroll request, but I can't make it work. Did I get something wrong?
[code]
The error message is :
[code]

If I keep request body empty:
[code]
Another error showed:
[code]

[2019-05-22 00:08] MrArnoldPalmer opened #357 "Geo Dependency Updates"
There are some small changes to (de)serialization needed to be able to update the geo library dependencies. I can make a PR if interested?

[2019-05-22 21:16] whitfin opened #358 "Examples using Tokio without using current_thread"
I've been working on a small app based on the examples, and using the `current_thread::Runtime` everything is fine. As soon as you move to a multi-threaded Runtime, nothing compiles.

It looks like the `Pending` types aren't `Send`, but I'm not familiar enough with this library to fix it (although I've been trying).

If you use the `bulk_async` example, and use `tokio::run` rather than the current

[2019-05-22 21:23] whitfin commented on #358
It might be because `Pending` doesn't enforce `Send` on the inner type, but I'm having a hard time tweaking that without it spiraling throughout the rest of the code.

[2019-05-26 02:38] KodrAus commented on #358
Ah thanks for pointing this out @whitfin!

Those futures definitely should be enforcing `Send`, so this is an oversight we should fix.

[2019-05-26 02:47] KodrAus commented on #357
Thanks @MrArnoldPalmer that would be much appreciated! Please reach out if you run into any troubles. We're currently working on pre-releases so breaking changes are ok to make.

[2019-05-26 12:50] NavyaZaveri opened #359 "Support for lifetimed struct"
I'm trying to use the `ElasticType` macro against a struct parameterized on a lifetime, like so:

[code]

Error:

[code]

[2019-05-27 02:45] taylorjdawson opened #361 "Error Parsing Response"
I am using elasticsearch 7.1.0 so there could be [breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#breaking_70_search_changes) in the response causing the issue.
[code]
As you can see the request succeeds but then it fails to parse the response.

Code -->
[code]
Also please excuse the bad code I am new to Rust and this may very well be use

[2019-05-27 12:22] KodrAus commented on #361
Thanks for the report @taylorjdawson!

We’re still working on 7.0 support, so it is definitely possible that our response types aren’t lining up anymore. I’ll take a look and let you know I find :+1:

Also, just an aside you should be able to use some more convenient methods to make your search request:

[code]

[2019-05-27 17:33] taylorjdawson commented on #361
Awesome, thanks!
Yeah I was using that to pinpoint the error. For instance, this does work:
[code]

So it is the `into_response` function that is causing the issue. If someone could point me to where the code parses the elasticsearch response, I could look into it!

[2019-05-29 01:12] dcarosone opened #362 "TLS negotiation failure with rustls against ES 7.1.0"
I'm using 0.21.pre4 against ES 7.1.0.  TLS negotiation fails with 'no cipher suites in common'.

Looking at docs, the default cipher set for Java/elastic, even with the 'stronger' crypto modules enabled, don't include any GCM modes, mostly various bit-lengths of AES CBC modes. Meanwhile, rustls only includes ciphers with PFS, so there's nothing in common.  Notionally I can add those to ES by editi

[2019-05-30 03:07] KodrAus commented on #362
Thanks for the report @dcarosone

This is unfortunate. I think we could look at mirroring `reqwest`'s TLS features, so you opt-in to either `openssl` or `rustls`:

[code]

That way you could pick the implementation to use.

What do you think?

[2019-05-30 04:31] dcarosone commented on #362
That seems fine, and a simple enough way to avoid cargo tricks and/or risk pulling in multiple versions.

Also worth noting (in doc for those options) that, for rustls, if you're using an internal CA you'll need to add the trust manually. I did this, which you're welcome to take for an example:

[code]

.. but that became irrelevant (or at least unnecessary) when I had to switch back to openssl, b

[2019-06-03 15:24] MikhailMS opened #363 "Basic auth example"
Hello there,

It would be interesting to see how I can pass authenticaiton credentials when using this library. Since there is no example anywhere and docs aren't clear on that matter, I'd like to ask this in the issue, which is not the best way (I think), but see no another option.

I've tried a couple of options with headers
1. setting it directly to SyncClientBuilder
2. setting it to reqwest Cl

[2019-06-07 13:36] mtorromeo commented on #313
All those static lifetimes are really hard to work with, with dynamic indexes.

Passing a String to the client means moving the index into the client and consequently, if I am going to do thousand of queries there are a lot of unnecessary clones required.

I'm also having similar issues when using a `DocumentClient` and trying to use a dynamic index. Since `DocumentClient` uses `doc.index()` I'm n

[2019-06-15 02:40] MrArnoldPalmer commented on #357
Sorry I put this project away for a minute. I had it compiling but need to fix some tests. Hoping to get into it soon. Will reach out with any questions.

[2019-06-15 17:27] mwilliammyers commented on #342
Ok, I finally got some time to dig into this more. Here is what I have discovered so far:

[code]

outputs:
[code]
[code]

[code]

pretty sure it is due to the `impl Cow`, which is necessary to use it as an Elastic ID.

[2019-06-15 18:03] mwilliammyers commented on #342
I guess I should also add I have tested it (with the same behavior) on:
[code]

[code]

[2019-06-15 19:18] mwilliammyers commented on #342
Oops... It looks like this is all a result of [dynamic field mappings](https://www.elastic.co/guide/en/elasticsearch/reference/current/dynamic-field-mapping.html).

I don't know why, but I assumed the types I specified would override the dynamic field mappings ES does... Then it dawned on me that the types I specify/this library automatically derives only apply if you manually create the index/upd

[2019-06-17 22:35] #342 closed

[2019-06-20 06:29] KodrAus commented on #342
Ah right, that is a bit of a footgun where mappings we specify in Rust won't find their way to Elasticsearch unless we explicitly send them.

I wonder if other clients address this somehow.

[2019-06-20 06:30] KodrAus commented on #357
No problems, thanks for working on this @MrArnoldPalmer!

[2019-06-20 06:37] KodrAus commented on #313
Yeh we could probably do better here and rethink the need for `'static` lifetimes so urls could be built up without requiring owned parameters.

[2019-06-20 17:46] mwilliammyers commented on #342
Yeah I was trying to think of a way to handle it but I don't think there is a good way.

Maybe I'll open a PR to address it briefly in the docs? I feel really stupid for not thinking of it but at the same time, I do feel like I was being very specific and intentional with what types I chose which lead me to erroneously believe they would just magically end up in Elasticsearch.

[2019-06-20 17:48] mwilliammyers commented on #337
Fixed in #356.

[2019-06-20 17:48] #337 closed

[2019-06-20 18:00] mwilliammyers commented on #232
@KodrAus, I spent some time poking around trying to implement this but got a little lost.

It seems like [this](https://github.com/elastic-rs/elastic/blob/1b445349e6fc8e3caf3c8fff7a5728f065440991/src/types_derive_internals/src/elastic_type/mod.rs#L334) function handles it, but I couldn't really see how to explicitly set the type (which I know how to get from the attr).

I played around with explic

[2019-06-26 07:08] #358 closed

[2019-06-27 03:31] flaper87 commented on #361
FWIW, I'm hitting this issue too. Running Elasticsearch `7`.

Just like @taylorjdawson , I'd be happy to help to fix this issue if you point me to the right place where this may be happening.

I see it also after indexing data with both (bulk and simple inserts): `client.bulk().extend(ops).send()` and `client.document().index(doc).send()?;`

[2019-06-28 18:28] #332 closed

[2019-06-28 18:43] mwilliammyers opened #365 "Add highlight to `Hit`"
It would be cool to expose [highlighting](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html) search results in `Hit`.

There are two options I see:
1. Using `serde_json::Value` (with the associated methods):
[code]

	where the JSON looks like:
[code]
1. something like `Aggs` where we transform it to "row" style:
[code]

	So it would look something lik

[2019-07-01 08:44] DevQps opened #367 "Why does index_exists take an Index<'static>"
# Description

I am trying to dynamically query if an index exists or not using the following code snippet:

[code]
and I get the following error:

[code]

[2019-07-01 11:04] DevQps opened #368 "Add support for std::net::IPv6Addr"
# Description

Elasticsearch also supports IPv6 addresses in its IP fields, but currently std::net::IPv6Addr is not yet mapped.

[2019-07-01 13:22] DevQps commented on #277
I would like to see this as well!

[2019-07-02 03:17] KodrAus commented on #277
I've bumped our target up to `7.0`, which we should "support" on `master` (and in the next preview) once #364 lands.

[2019-07-02 03:23] #365 closed

[2019-07-02 03:57] KodrAus commented on #367
Hi @DevQps :wave:

This is just for simplicity on the client side, but it isn't strictly necessary and I'd like to fix it up so you can use borrowed data (since we do eventually just build an owned url from it). In the meantime you can create an owned string to use:

[code]

[2019-07-02 03:58] KodrAus commented on #357
Hi @MrArnoldPalmer :wave:

I've updated our `geo` dependencies in a round of refactoring that will be available in the next preview release. Thanks for pointing this out!

[2019-07-02 03:58] #357 closed

[2019-07-02 03:59] KodrAus commented on #361
Hey all, I've fixed this up on `master` where we target `7.x` so it'll be available in the next preview. It looks like the format for the `total` field changed.

[2019-07-02 03:59] #361 closed

[2019-07-02 04:00] #289 closed

[2019-07-02 04:01] KodrAus commented on #268
I've added some macros to make integration tests nicer to add. Once we have `async`/`await` support they should also be easier to write.

[2019-07-02 04:01] #268 closed

[2019-07-02 04:02] #292 closed

[2019-07-02 04:03] KodrAus commented on #367
We've got #313 to track fixing this up so I'll close this one in favour of that issue. Please feel free to re-open though if you run into any more problems!

[2019-07-02 04:03] #367 closed

[2019-07-02 04:08] MrArnoldPalmer commented on #357
Awesome! Looking forward to the next preview!

[2019-07-02 04:45] KodrAus commented on #352
Hi @wfxr :wave:

We should add high-level support for scrolling to this library. The scroll API is actually a little confusing. You need to issue a `SearchRequest` first with a `scroll` query parameter, then pass the `_scroll_id` to a `ScrollRequest` to continue:

[code]

We unfortunately don't currently expose the `scroll_id` field from our `SearchResponse`. I'll submit a PR to fix this up!

[2019-07-02 07:07] slaterb1 commented on #352
@KodrAus I literally just ran the query you posted above (for my own test index) and was surprised that the `_scroll_id` was not exposed on the `SearchResponse`. I've worked with the `scroll` api in ES quite a bit and the code you posted is exactly what I was looking for!  I was just checking to see if there were any Issues related to this before diving deeper into the source to suggest/implement

[2019-07-02 11:47] flaper87 commented on #361
@KodrAus thanks a bunch, you rock!

[2019-07-02 23:08] KodrAus commented on #352
@slaterb1 Welcome!

So my bandwidth for supporting the project is a bit limited lately, but am actually working on a PR to add some nicer scrolling support at the moment that exposes the paged search responses either as an `Iterator` for synchronous calls or as a `Stream` for asynchronous ones, so it should land pretty soon! We've got a _lot_ of changes currently on `master` to push out, so I'll b

[2019-07-04 06:15] flaper87 commented on #277
@KodrAus this upcoming cut looks AWESOME and promising. Thanks a bunch for your hard work here.

Do you know if/when you're going to cut a new `pre` release for `0.21`?

[2019-07-05 07:29] KodrAus commented on #277
Hi @flaper87! :wave:

I was going to work in support for the scroll API first, but there’s a lot of inventory on `master` now that fixes real issues. So I’ll just give the docs a run through and get it up on crates.io ASAP.

[2019-07-05 07:52] flaper87 commented on #277
@KodrAus fantastic!

FWIW, I've been using master for the last three days and things seem to work for me. Looking forward to the next `pre` cut and to the next release! thanks again :)

[2019-07-07 02:31] KodrAus commented on #313
Ok, now that we have a single crate to work in we can look at tackling this. There are two routes we could take:

- Add lifetime constraints to request builders, one for each parameter. So we'd have something like `SearchRequestBuilder<'index, 'ty, TSender, TDocument, TBody>`. We couldn't use just one parameter because it'll be eagerly bound to the first parameter, so setting the index for instanc

[2019-07-07 02:34] #152 closed

[2019-07-07 02:35] #89 closed

[2019-07-07 02:35] #210 closed

[2019-07-07 02:36] #362 closed

[2019-07-07 02:45] KodrAus commented on #277
Alrighty, I've published a new pre-release as `0.21.0-pre.5`!

This one pushes our target version of Elasticsearch to `7.2`. I've also refactored our integration tests so that they should be easier to add (there's still a lot of fiddling with async code though). So I think the only _real_ blocker to a proper release is confidence that we support `7.x` correctly and don't need to break a lot of oth

[2019-07-07 02:50] KodrAus opened #372 "Simplify request params building"
Using captured fluent builders means we need to allocate for each call to `_fluent`, and means we need to impose `Send + Sync` constraints on the builder methods themselves. There are other footguns around APIs that issue multiple requests, like a bulk stream that may go on indefinitely. Since we don't rebuild the parameters we'll always issue those requests to the same node.

So we should just re

[2019-07-07 04:43] flaper87 commented on #277
Amazing!

My current use case is simple but I can try to come up with more thorough tests for this.

Thanks again 🤙😬

[2019-07-08 14:22] DevQps commented on #277
Thanks a lot for everything! Great work! Without you I wouldn't have been able to continue my work :)

[2019-07-09 10:53] dcarosone commented on #363
FWIW, here's *an* example, not necessarily the *best* example

[code]

[2019-07-09 16:41] jatsrt opened #373 "HitsTotal Mapping Error"
Not sure what the change is, but getting this in preview 5/master, looks like the mapping changed for the type and is not correct:
[code]

[2019-07-09 16:53] jatsrt commented on #373
Looks like a 7.x AIP change that's not compatible with 6.x

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-track-total-hits.html

[2019-07-09 17:11] jatsrt commented on #373
Will close this for now, but something to think on.  With elasticsearch you generally have two major versions in play at any given time.  Right now v 6.x is "production" for most/many organizations, while 7.x is the emerging version.

Example of how this is managed from another project: https://olivere.github.io/elastic/

Not easy for sure.

[2019-07-09 17:11] #373 closed

[2019-07-15 23:42] KodrAus commented on #363
Thanks for the example @dcarosone! We could definitely wrap that up more nicely in the client so you don't have to fiddle with `http` headers yourself.

[2019-07-16 00:54] MirrorBytes commented on #277
With the latest pre-release, I'm getting an issue revolving around the document type. If I build out the mappings without <Struct>::static_ty(): <Struct>::index_mapping(), it's fine. Removing the wrapping "_doc": {} corrected the issue.

[2019-07-16 01:43] MirrorBytes opened #374 "The mapping definition cannot be nested under a type [_doc] unless include_type_name is set to true."
With the latest pre-release, I'm getting an issue revolving around the document type. If I build out the mappings without ::static_ty(): ::index_mapping(), it's fine. Removing the wrapping "_doc": {} corrected the issue for me.

This is related to the removal of mapping types in version 7.x.

[2019-07-16 01:57] MirrorBytes commented on #374
Oh man, I jumped the gun a bit. So the issue is actually using Struct::static_ty() in conjunction with Struct::index_mapping(). If I use "mappings": Struct::index_mapping(), it works fine.

That will have to be changed in the example I suppose.

[2019-07-18 10:39] DevQps commented on #313
Both solutions look fine with me! Though I think I prefer the second one as well. Good work! You honestly saved my day with this crate many times by now :)

[2019-08-06 04:48] GopherJ commented on #314
hello, @KodrAus, is there some news about `Scroll` API?

[2019-08-06 04:49] GopherJ opened #376 "process didn't exit successfully: `/home/XXX/target/debug/build/openssl-c583a0438d8de871/build-script-build` (exit code: 101)"
[code]

VERSION: `~0.20.0`

[2019-08-06 06:12] GopherJ opened #377 "which version shall I use for `elasticsearch 5.6.x`?"
Hello, I tried `0.20.10` for elasticsearch@5.6.x, but it seems I cannot compile the examples? So which verison shall I use for elasticsearch 5.6.x?

I got this error while I just would like to do a simple search:
[code]

[2019-08-06 09:49] GopherJ commented on #377
[code]

[2019-08-07 01:44] GopherJ commented on #377
when I use `0.21.0-pre.1` I got this error:

[code]

[2019-08-07 04:16] GopherJ commented on #377
So unfortunately, even I already spend one day and a half, I cannot find a way to make this client working with elasticsearch@5.6.16 and rust nightly/stable

It only works with elasticsearch@7, but clearly there are still many companies who use elasticsearch@5

......

[2019-08-07 04:39] GopherJ commented on #373
@jatsrt hello, so if I still use elasticsearch@5.6.16, is there a way to use `elastic-rs`?

[2019-08-07 14:06] jatsrt commented on #373
Not currently as it is only kept up to date with the latest elastic mappings, which is currently at 7.0.
I personally am still on 6.x and have a branch I maintain where I fix what is needed to keep it working right.

[2019-08-07 14:24] jatsrt commented on #376
Depending on what platform you are on, and if . you are cross compiling, you need to make sure openssl is available to you.
See https://docs.rs/openssl/0.10.24/openssl/

Alternative, is you can remove the need for openssl in your Cargo.toml
`elastic = { git = "0.21.0-pre.5", default_features = false, features = ["rustls-tls"] } `

[2019-08-08 01:46] GopherJ commented on #376
hello @jatsrt, thanks for your reply, this problem occurs on `0.20.10` and `Ubuntu19.04`, I think it's because the version of OpenSSL on my PC is too new...

It works fine with the latest version of `elastic-rs`, but it seems since `0.21.x`, `elastic-rs` can only work with elasticsearch@7. It's not compatible with elasticsearch@5 anymore, in our company, we would like to rewrite our `elastic` micr

[2019-08-09 03:01] GopherJ commented on #376
@jatsrt Could you help me on this~? I get stuck here for a long time:)

[2019-08-13 10:03] GopherJ commented on #377
can someone help me on this?

[2019-08-13 14:57] GopherJ opened #378 "Is this project under development?"
Quick question: Is this project still under development? I posted actually two simple questions but no reply until now. If the reply may be slow, or if this project isn't under development, please add some information in README.md, thanks!

[2019-08-13 16:44] mwilliammyers opened #379 "Do the RequestParams for params_fluent() need to be 'static?"
Currently the [RequestParams](https://github.com/elastic-rs/elastic/blob/0f90521cf03304f2bfa870a8511d8cfc4f69d18f/src/elastic/src/client/requests/mod.rs#L169) parameter to the `.params_fluent()` closure is `'static`. Does it need to be? I am trying to let a user set `refresh` via an API call and that makes it really tricky...

I tried using the regular `.params()` method but then I have to pass in

[2019-08-26 00:45] KodrAus commented on #378
Hi @GopherJ :wave:

This project is currently only receiving sporadic attention from myself  because I have a lot of other commitments to keep up with, but have been working on getting it into a more contributable state for a while.

I'll try make some time to catch up on new issues. Thanks for your patience!

[2019-08-29 15:03] brndnmtthws opened #383 "Consider bumping `nom` version"
I recently ran into this problem:

https://users.rust-lang.org/t/a-dependency-compiles-on-its-own-but-does-not-compile-as-dependency-lettre-nom/18097/6

tl;dr nom has this weird opt-out flag that breaks compatibility if you depend on 2 crates with different feature flags. It's a pretty annoying bug with how Rust handles dependencies.

As a temporary solution I just bumped the `nom` version from 2

[2019-08-30 19:52] ColonelThirtyTwo commented on #376
Same issue. Can't build this v0.20 on Arch Linux cuz OpenSSL is too new. Git master builds at the time of this comment though.

[2019-09-01 06:27] KodrAus commented on #383
Hi @brndnmtthws :wave:

We don't use `nom` as a public dependency so bumping it shouldn't be a problem.

[2019-09-01 22:16] KodrAus commented on #379
Ah yes, this is a limitation of the way the request parameters use builders right now. I'd like to just throw out the whole `fluent_builder` thing that captures closures and just update a set of request parameters internally, then we won't need for them to be static.

[2019-09-03 19:02] mwilliammyers commented on #379
Ahhh... Then could we make the Elasticsearch host URL available via `RequestParams` or just get rid of it and use `PreRequestParams` everywhere? I haven't really dug into what would be required to do that...

[2019-09-05 09:23] DevQps opened #385 "The trait bound `MyType: PropertiesMapping` is not satisfied"
Hello!,

First of all! I am greatly enjoying this library! It really makes my work a lot easier.
The problem I am running into is that I want to have some objects of `type: object` instead of `type: nested`. I followed the documentation [here](https://docs.rs/elastic/0.21.0-pre.5/elastic/types/document/index.html#override-default-mapping-properties). But when I try to adjust (or just paste in the

[2019-09-08 22:31] #383 closed

[2019-09-08 22:43] KodrAus commented on #385
Hi @DevQps :wave:

Thanks for reaching out!

If I paste the example into a fresh project depending on `elastic 0.21.0-pre.5`:

[code]

then I get the following generated code, which appears to be correct:

[code]

Are you running the latest preview version? If so, would you be able to post the output of running [`cargo expand`](https://github.com/dtolnay/cargo-expand)?

[2019-09-09 13:13] DevQps commented on #385
I have no idea what I did wrong earlier but apparently your code works! I was able to figure it out! Thanks a lot for your help. I also used the following code for easier reuse:

[code]

Thanks a lot again!

[2019-09-09 13:13] #385 closed

[2019-09-16 08:31] tanhaipeng opened #386 "basic auth not working"
I use basic auth to build client, but find auth is not working( username & password is correct), my code is:

[code]

Error is:
`next_error: Some(Parse(ParseError { inner: UnknownApiError({"reason": String("Invalid username and password!")`

Please help me!

[2019-09-17 02:02] tanhaipeng commented on #386
@KodrAus Please see this issue, thanks

[2019-09-17 12:59] DevQps commented on #386
I got it working using this code!:

[code]

[2019-09-17 13:05] DevQps opened #387 "Add support for unsigned numbers"
# Description

Currently types such as u32 or u16 cannot be automatically mapped. It would be nice if these numbers could be converted to a larger signed value on the fly.

[2019-09-18 01:36] tanhaipeng commented on #386
good! Thank you very much!

[2019-09-18 01:36] #386 closed

[2019-09-21 01:02] mwilliammyers commented on #376
We might be able to backport the `rusttls-tls` feature, but I think we are a little apprehensive about supporting multiple versions of Elasticsearch...

As a workaround, you might want to do one of the following:
-  [Override](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#overriding-dependencies) the `reqwest` dependency to use the `rusttls-tls` feature.
- Build a static b

[2019-09-21 03:40] mwilliammyers commented on #377
Sorry for the late reply.

`0.20.10` should target `5.x`.

Looks like you just needed to wait a moment (sometimes takes a while) for Elasticsearch to be ready.

[2019-09-21 03:51] mwilliammyers commented on #387
I have wanted that too. That being said, Elasticsearch [doesn't support](https://www.elastic.co/guide/en/elasticsearch/reference/current/number.html) unsigned integers. @KodrAus, I suppose that is why they haven't been mapped?

Maybe we could do some trickery to map them?

[2019-09-23 00:37] jthinking opened #391 "AsyncClientBuilder::new().static_node("http://192.168.1.127:9200") has no effect"
[code]
error message
[code]

[2019-10-02 20:12] ColonelThirtyTwo commented on #281
Might take a stab at this, because I really want to use this crate in my web app.

My idea was to have the sender specify a type to wrap the results in; ex a plain `Result` for the sync API and a `Future` for the async API... unfortunately this needs [generic associated types](https://rust-lang.github.io/rfcs/1598-generic_associated_types.html) which isn't implemented yet.

[2019-10-04 01:20] ColonelThirtyTwo commented on #281
So this will require a bit of a refactor around the Client, Sender, and SniffedNodes.

Basically:

* `SyncSender` would need to return a result,
* `AsyncSender` would need to return a futures::Future,
* and `StdwebSender` would need to return a Javascript future object.

So it's not as simple as having one sync sender and one async sender with multiple implementations. The receiving mechanism has

[2019-10-10 08:51] Bealiah-dev commented on #277
Hello,

Version field in hit struct is outdated for optimistic version control.
Could you add _seq_no and _primary_term ?

Nice crate btw !

[2019-10-10 17:40] mwilliammyers commented on #277
@Bealiah-dev those were added in 08ed5ce8a9881bc4dfe546055c4f020f33ed01d7. Both the latest pre-release version (`0.21.0-pre.5`) and the latest stable release (`0.20.10`) do *not* have that commit though. It will be in the next release though!

[2019-10-11 08:14] mwilliammyers commented on #391
I can't seem to replicate this. Are you still having this issue?

[2019-10-11 14:26] Bealiah-dev commented on #277
@mwilliammyers Thanks , it's awesome.

[2019-10-11 20:08] mwilliammyers opened #396 "Expose queries API"
I think we should expose the `queries` sub crate; many thanks to @stephanbuys for the awesome crate!

TODO:

- [ ]  Integrate it into the main `elastic` crate or keep it as a sub-crate?
- [ ] Relation to [rs-es](https://github.com/benashford/rs-es)?
- [ ] Keep `derive-builder` dependency?
- [ ] Remove `error_chain` dependency?
- [ ] Improve docs
- [ ] Make all enum fields UpperCamelCase
- [ ] Add

[2019-10-11 20:19] mwilliammyers commented on #257
I think we should add this to #319 (v0.21.0). I am running into the issue of not being able to easily access anonymous aggregations in a project.

I am happy to open a PR to replace the current implementation with your gist.

[2019-10-27 07:05] #339 closed

[2019-11-03 21:51] scull7 opened #400 "How do I connect to an HTTPS node?"
I'm receiving the following error:
[code]

Here is the code which produces this error:
[code]
[code]

How do I connect to an HTTPS node?

[2019-11-04 00:00] mwilliammyers commented on #400
This should work:

[code]

see #363

[2019-11-04 00:03] mwilliammyers commented on #378
@GopherJ can I close this?

[2019-11-04 00:04] mwilliammyers commented on #377
@GopherJ Is it ok if I close this?

[2019-11-04 00:05] mwilliammyers commented on #376
@GopherJ Does that work for you?

[2019-11-04 01:45] scull7 commented on #400
Thank you for the reply,  a couple questions:

1. Where does the `encode` function come from?
2. Where does the `NotHttp` error originate and what does it mean?

I dug around and couldn't find either item in the source code, though it might just be me being dumb again as with thinking this is because of the `https` protocol and not the lack of authorization.

[2019-11-04 02:24] scull7 commented on #400
So to answer my own question 1,  [`base64::encode`][base64] is the function in question, which again I should have known since the BasicAuth header needs to be encoded 🤦‍♂   Unfortunately I found it the hard way by digging through the reqwest code:
https://docs.rs/reqwest/0.9.22/src/reqwest/request.rs.html#241

[base64]: https://crates.io/crates/base64

[2019-11-04 02:27] scull7 commented on #400
I've updated my code and I'm still receiving the same error:
[code]

[code]

[2019-11-04 02:30] scull7 commented on #400
I'm attempting to connect to an [OpenDistro] installation.

The following command works:
[code]
which outputs:
[code]

[OpenDistro]: https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/#important-settings

[2019-11-04 17:42] scull7 commented on #400
Seems that I may be correct in my first thought that this is something to do with me attempting to connect via `https` vs `http`.

https://github.com/hyperium/hyper/blob/8b878a805ac6a95a758b6ef08f6410449c65648a/src/client/connect/http.rs#L344

The `NotHttp` error is a [hyper] error that refers to an `InvalidUrl` error.

[code]

How do I include HTTPS support?

[2019-11-04 19:57] mwilliammyers commented on #400
My hunch is that `reqwest` is not validating the certificates that OpenDistro is presenting. Does it **not** work if you run `curl` like (note the missing `--insecure`):
[code]

That being said—this doesn't seem to match the error message you are getting?

If certs are indeed an issue we will need to at least update the docs (but preferably add something to make this a lot more ergonomic). In the

[2019-11-04 20:25] mwilliammyers commented on #400
I went ahead and verified that this works:
[code]

[code]

[2019-11-04 20:33] mwilliammyers commented on #363
Closing in favor of #400 which has more info.

[2019-11-04 20:33] #363 closed

[2019-11-04 21:45] #378 closed

[2019-11-04 22:35] mwilliammyers commented on #400
As of: #401 (6ed243570bb64fdf398cafe0518c5d9a02321c76) you can now do:

[code]

[2019-11-04 22:36] mwilliammyers commented on #386
As of: #401 (6ed243570bb64fdf398cafe0518c5d9a02321c76) you can now do:

[code]

[2019-11-04 22:37] mwilliammyers commented on #363
As of: #401 (6ed243570bb64fdf398cafe0518c5d9a02321c76) you can now do:

[code]

[2019-11-05 01:19] scull7 commented on #400
@mwilliammyers The `danger_accept_invalid_certs` functions is hidden behind the `tls` feature flag.  When I enable this feature I receive the following errors pop out (request v0.9.22):

[code]

What version of reqwest are you using? What configuration?

[2019-11-05 01:26] scull7 commented on #400
I've also opened an issue for `reqwest`: https://github.com/seanmonstar/reqwest/issues/700

[2019-11-05 01:37] scull7 commented on #400
The following configuration worked:
[code]

Code to generate the client:
[code]

Result:
[code]

@mwilliammyers Thank you for your help!

[2019-11-05 01:37] #400 closed

[2019-11-05 02:00] mwilliammyers commented on #400
No problem!

Oops, I wish docs.rs showed what features are needed (if any) for a given function...

Glad you figured it out!

[2019-11-05 02:09] scull7 commented on #400
Yeah, it certainly wasn't clear, but it works now.  Perhaps it would be a good example to include? With some way to find it using `OpenDistro` as a keyword?  Anyone trying to use their docker container for local development against Amazon's ES implementation will run into this.

[2019-11-05 02:16] mwilliammyers commented on #400
Yeah I actually tried adding it as a runnable example but ran into a `danger_accept_invalid_certs method not found` probably because of that same issue.  The weird thing is when I used it in a separate project I didn't need to specify any features for `reqwest` - it was exactly as I specified earlier...

I will try to get it working and add an example or put it in the docs somewhere sometime soon.

[2019-11-05 04:49] TomPridham commented on #400
is it necessary to use a new `reqwest` client to connect to anything other than `localhost`?

[2019-11-05 05:51] mwilliammyers commented on #400
@TomPridham Nope! Just if you want to do something fancy like bypass certificate validation like he did. Otherwise you can just use the default one that elastic makes automatically for you.

[2019-11-05 16:53] mwilliammyers commented on #379
Closing in favor of #372

[2019-11-05 16:53] #379 closed

[2019-11-05 23:30] TomPridham opened #402 "Unable to Search Remote node"
is there a way to enable verbose errors? i am having trouble querying a remote elasticsearch cluster, but the errors i am getting don't reveal anything that i could look into as a potential problem.

[2019-11-06 00:51] mwilliammyers commented on #402
not really other than running with `RUST_LOG=debug`. I have been meaning to improve the error handling experience—particularly the default `some API error occurred` kind of message.

What errors are you running into?

[2019-11-06 01:36] TomPridham commented on #402
that's the kind of error im running into lol. this is the error im getting: `e=error sending a request or receiving a response. Caused by: error receiving a response. Status code: 400 Bad Request`. the cluster is completely open and im able to get responses just by hitting the urls in the browser and the same code works with an elastic cluster running locally in docker. so im not sure what im miss

[2019-11-06 02:00] mwilliammyers commented on #402
Yep, that is the generic error that we need to do something about... maybe logging the error is enough? Or I can see if I can make `serde_json::Value` based error when parsing the error fails.

Hmm, try these in order:
- Change to: `.document::<serde_json::Value>()`—off the top of my head, I am not sure if there is a default doc if you don't provide one (e.g.`serde_json::Value`)
- I need to look a

[2019-11-06 02:55] TomPridham commented on #402
1: using `serde_json::Value` results in this compiler error. it compiles if i use the type i am expecting later(e.g. `.document::<OptionMedia>`, where `OptionMedia` is a struct i have defined elsewhere), but gives the same error from earlier.
[code]
2: work and returns an empty object
3: works and returns an empty object if i delete the `.document()`
so it seems like the issue is with `.document()

[2019-11-06 03:04] mwilliammyers commented on #402
Ok, glad you got it working, I will leave it open to remind me to dig into the issue with `.document().search()`...

- What version is your local ES cluster?
- Do you expect it to return an empty object? Do you mean it doesn't return any documents i.e. `[]` (well really an iterator without any elements...)

[2019-11-06 03:31] TomPridham commented on #402
the local cluster is 7.2.
sorry, it was returning an empty object to postman from the endpoint i was hitting because there were no hits. the query comes back with this. which isn't what im expecting since the same query executed with curl brings back a bunch of results
[code]

[2019-11-06 05:55] TomPridham commented on #402
well, it turns out the empty results were from including a trailing slash in the connection url. `myEsCluster.com/` vs `myEsCluster.com`, so all the requests were ending up with an extra slash. so, everything is working as expected now except for the `.document()` thing

[2019-11-06 06:41] mwilliammyers commented on #402
Ahhhh! That has bit me before. Now that I know I’m not crazy, I’ll push a fix for that sometime this week.

And I’ll look at the `.document()` thing too.

[2019-11-06 20:04] mwilliammyers opened #403 "Strip trailing slashes in NodeAddress"
Having a trailing slash in the node address causes issues; see #402 for more info.

[2019-11-06 20:22] #403 closed

[2019-11-11 04:10] ftvkyo commented on #352
Hi @KodrAus I really need this scrolling API.
I was going to implement it but then saw that you already implemented it here: https://github.com/elastic-rs/elastic/commit/f5340ac3c9f9a0fcb2cf7af0a36fe508876d0dd5
Could you then merge it please?
If you need any help, I can try helping you.
Thank you :)

[2019-11-13 19:11] mwilliammyers opened #406 "Update futures to 0.3"
Should we do this before or after 0.21.0 (#319)?

Also, see #405

[2019-11-19 08:16] GopherJ commented on #377
@mwilliammyers magically it starts to work after switching from ubuntu to deepin.........

[2019-11-19 08:16] #377 closed

[2019-11-19 09:15] GopherJ commented on #376
@jatsrt this feature doesn't seem to exist in the version `0.20.10`.

[2019-11-19 09:16] GopherJ commented on #376
@mwilliammyers I think the workaround is `emk/rust-musl-builder` but it'll be good if the version `0.20.10` uses `rustls` by default or as feature.

[2019-11-19 09:16] #376 closed

[2019-12-10 03:26] jawline opened #407 "Bulk query crashing"
Whenever I try to make a bulk query with the following code my program crashes with a stack overflow exception:

[code]

Could you let me know what I am doing wrong?

[2019-12-10 07:48] mwilliammyers commented on #407
What version of Elasticsearch are you running?

Have you tried it without the `ty` (type)?

What is the error message/stack trace you are getting?

[2020-01-11 04:54] ryankurte opened #408 "Operations depend on StaticIndex"
Hey, thanks for making this!

In the [docs](https://docs.rs/elastic/0.21.0-pre.5/elastic/types/document/index.html#specifying-a-default-index-name) it's noted that you can specify index expressions, however, turning this on results in the error ```the trait `elastic::prelude::StaticIndex` is not implemented for ...``` as afaik many of the library methods are implemented over `StaticIndex`, and it'

[2020-01-11 05:10] ryankurte commented on #408
FYI for anyone else in this predicament, this can be approximated with:

[code]

[2020-01-25 22:19] brigand opened #410 "Expected struct HitsTotal (pre-release)"
This seems closely related to https://github.com/elastic-rs/elastic/issues/377 but opening a new issues as that one is closed.

Getting "expected struct HitsTotal" issue with this on elasticsearch 6.7 (and the following versions for both elastic and elastic_derive crates).

- 0.21.0-pre.2 ☑️ Good
- 0.21.0-pre.3 ☑️ Good
- 0.21.0-pre.4 ☑️ Good
- 0.21.0-pre.5 ❌ Regression

[code]

<details>

<summary

[2020-01-29 18:24] lfdominguez opened #411 "Change Elastic mapping type of serde_json::Value"
The default mapping type for serde_json::Value is "nested" and that not allow make normal queries on ElasticSearch for dynamics data. How i can change the type to "object". Already i changed the code on file "src/elastic/src/types/document/mapping.rs" on trait `ObjectMapping` from `NESTED_DATATYPE` to `OBJECT_DATATYPE` and now my elastic queries are responding with results.

[2020-01-29 23:37] mwilliammyers commented on #411
You can also do it though Elasticsearch [directly](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html), I use [dynamic mappings](https://www.elastic.co/guide/en/elasticsearch/reference/current/dynamic-mapping.html) personally...

[2020-01-30 05:08] lfdominguez commented on #411
Yes of course, i can use curl directly to put data on ElasticSearch too. The main question is why use "nested" for object types and not "object"

[2020-04-23 10:37] ronjakoi opened #414 "elastic::client::requests::document_index::Pending does not have method then()"
My code starting on line 169:

[code]

My error message:

[code]
I do have this `use` line in my file:

[code]

[2020-04-23 10:55] ronjakoi commented on #414
My elastic library version is `0.21.0-pre.5`.

[2020-05-29 19:21] mwilliammyers commented on #414
Sorry for the late response.

It looks like from your other issue, https://github.com/elastic/elasticsearch-rs/issues/102, you are using futures `v0.3.0`.

This repo is not compatible with futures `v0.3` and we don't plan to support it as we have moved our development efforts over to the [official crate](https://github.com/elastic/elasticsearch-rs/) which does support futures 0.3 (async/await synt

[2020-12-08 04:00] yaanhyy opened #415 "not support async-std library"
can this project support async-std library?